@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    background-color: #339cae;
    text-align: center;
    justify-items: center;
    width: auto;
    height: 100vh;
    font-family: "Inter";
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
header{
    border-style: solid;
    border-radius: 10px;
 
    text-align: center;
    justify-content: center;

    padding: 2vh 2vw 2vh 2vw;
    background-color: white;
    align-self: center;
}
#wrapper{
    width: 70vw;
    background-color: #cccccc;
    border-style: solid;
    border-radius: 10px;
    border-color: #222222;
    padding: 2vh 2vw;
    margin: auto;
    box-shadow: 5px 5px 3px;
    display: grid;
    grid-template-columns: 1fr;
}
label{
    font-size: large;
    font-weight: bolder;
    width:auto;
    height: fit-content;
    justify-self: center;
    padding: 5px;

}
content{
    margin: auto
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-self: center;
}
nav a{
    text-decoration: none;
    color: black;
    border: 2px solid;
    font-size: large;
    border-radius: 5px;
    box-shadow: 1px 1px;
    font-weight: 600;
    align-self: center;
    justify-self: center;
    padding: 5px;
}
input{
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
    background-color: #77ccdd;
    transition: 0.25s;
    width: 50%;
    margin: 10px;
    justify-self: center
}
select{
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
    background-color: #77ccdd;
    transition: 0.25s;
    width: 50%;
    margin: 10px;
    justify-self: center
}
input:hover, select:hover{

    background-color: #ffffff;

}
form{
    display: grid;
    border: 3px solid;
    border-radius: 10px;
    background-color: white;
    padding: 2vh 0px

}
button{
    border: 2px solid;
    border-radius: 5px;
    padding: 10px 30px;
    display: block;
    justify-self: center;
    margin: 20px;
}
ul{
    color: black;
}
footer{
    border-top: 1px solid;
    margin-top: 20px
}
/* === Calendar Styles === */

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  padding: 20px;
  width: 80%;
  margin: auto;
}

.day {
  border: 1px solid #ccc;
  padding: 10px;
  height: 100px;
  position: relative;
}

.date-number {
  font-weight: bold;
}

.reminder {
  background-color: #fce5cd;
  margin-top: 5px;
  padding: 3px;
  font-size: 0.8em;
  border-radius: 4px;
}
