body{
    background-color: #339cae;
    text-align: center;
    justify-items: center;
    width: auto;
    height: 100vh;
}
header{
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    width: 900px;
    padding: 20px;
    background-color: white;
}
#wrapper{
    width: 50vw;
    background-color: #cccccc;
    border-style: solid;
    border-radius: 10px;
    border-color: #222222;
    padding: 20px;
    margin: auto;
    box-shadow: 5px 5px 3px
}
content{
    margin: auto
}
nav a{
    text-decoration: none;
    color: black;
    border: 2px solid;
    font-size: larger;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px;
    font-weight: 900;
}
input{
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
    background-color: #77ccff;
    transition: 0.25s;
    width: 50%;
    margin: 10px
}
input:hover{

    background-color: #ffffff;

}
button{
    border: 2px solid;
    border-radius: 5px;
    padding: 10px 30px;
    display: block;
    justify-self: center;
    margin: 20px
}