body{
    background-color: #339cae;
    text-align: center;
    justify-items: center;
    width: auto;
    height: 100vh;
}
header{
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    width: 900px;
    padding: 20px;
    background-color: white;
}
#wrapper{
    width: 50vw;
    background-color: #cccccc;
    border-style: solid;
    border-radius: 10px;
    border-color: #222222;
    padding: 20px;
    margin: auto;
    box-shadow: 5px 5px 3px
}
content{
    margin: auto
}
nav a{
    text-decoration: none;
    color: black;
    border: 2px solid;
    font-size: larger;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px;
    font-weight: 900;
}